body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.para {
    font-size: 18px;
    color: #ff4d6d;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

h1 {
    color: #ff4d6d;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* h2 {
    color: #ff758c;
} */

.buttons {
    margin-top: 30px;
    position: relative;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: red;
    color: white;
}

#yesBtn {
    background: #ff4d6d;
    color: white;
    margin-right: 20px;
}

#noBtn {
    background: #adb5bd;
    position: absolute;
}

/* #yeahText {
    position: fixed;
    top: 150px;
    /* sticker se upar */
    left: 650px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: none;
    animation: pop 0.5s ease-out;
} */

#yeahText {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: none;
    /* animation: pop 0.4s ease; */
}

#sticker {
    display: none;
    width: 180px;
    margin-top: 20px;
    margin-left: 120px;
    animation: pop 0.4s ease;
    position:relative;
}

@keyframes pop {
    0% {
        transform: scale(0.6);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#message {
    margin-top: 25px;
    font-size: 22px;
    color: #ff4d6d;
}

/* Hearts */
.heart {
    position: absolute;
    color: red;
    font-size: 20px;
    animation: float 4s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px);
        opacity: 0;
    }
}


